.navigation-sidebar {
    width: 350px;
    height: calc(100vh - 105px);
}

.menu-items-container {
    list-style: none;
}

.menu-item {
    background-color: aliceblue;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    // &:hover {
    //     background-color: rgb(221, 237, 252);
    // }
    a {
        padding: 8px;
        text-decoration: none;
        color: rgb(44, 44, 44);
        display: flex;
    }
}

.active {
    background-color: #1171a3;
    padding: 5px;
    color: #f1f1f1!important;
    border-radius: 4px;
    width: 100%;
    display: flex;
}

.slider {
    display: flex;
    justify-content: flex-end;
    flex-direction: unset;
    position: absolute;
    bottom: 100px;
    left: 0;
    align-items: center;
}

.mr-0 {
    margin-right: 0!important;
}

.range-slider {

    // Slider
    .input-range {
      -webkit-appearance: none;
      height: 200px;
      border-radius: 5px;
      background: #ccc;
      outline: none;
      writing-mode: bt-lr; /* IE */
      -webkit-appearance: slider-vertical; /* WebKit */
      
    }
  }
  
  // Firefox Overrides
  ::-moz-range-track {
      background: #ccc;
      border: 0;
  }
  
  input::-moz-focus-inner { 
    border: 0; 
  }
  
  