<div class="navigation-sidebar card p-3 m-2 mr-0">
    <ul class="m-0 p-0 menu-items-container">
        <li class="menu-item" [ngClass]="{'active':menu.active}" *ngFor = "let menu of menuItems;index as i">
            <a [routerLink]="[ menu.link ]" [routerLinkActive]="'active'" >{{menu.name}}</a>
        </li>
    </ul>
    <div class="slider">

        <div class="range-slider">
            <input class="input-range" orient="vertical" (change)="rangeChange($event)" type="range" step="0.1" value="0.5" min="0" max="1">
        </div> 
        <div>
            Opacity
        </div>
                
    </div>
</div>